#page-header h1 {
    text-align: center;
    margin-bottom:140px;
}
#login .input-group label {
    width: 100px;
    display:inline-block;
    text-align:center;
}
#login .input-group input {
    height:25px;
}
#login .input-group {
    text-align:center;
    margin-bottom:10px;
}

#chatroom {
    display:none;
}

#page-frame.chat-mode #login {
    display: none;
}

#page-frame.chat-mode #chatroom {
    display:block;
}